# Ignore CSV files
*.csv

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset directories (raw data not meant to be committed)
MNIST/data/
MNIST/raw/

# Ignore environment
/ml_env/

# Ignore pycache files
MNIST/src/__pycache__/*.pyc