# Ignore CSV files
*.csv

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset directories (raw data not meant to be committed)
MNIST/data/
MNIST/raw/
MNIST/src/Linear Classification Models/data/
MNIST/src/Linear Classification Models/__pycache__/

# Ignore environment
/ml_env/

# Ignore pycache files (ignore __pycache__ directories everywhere)
**/__pycache__/
*.pyc
MNIST/src/NNs/__pycache__/
# Ignore model checkpoints
MNIST/models/checkpoints/  
*.pt
*.pth